.tamagochiBox {
    -fx-alignment:center;
}

.stats {    
    -fx-display:flex;
    -fx-justify-content:center;
    -fx-alignment:center;
}

.box {
    -fx-padding:10;
}

.box Label {
    -fx-text-fill: #ffffff;
}

.menu {
    -fx-background-color: #32566f;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;   
    -fx-alignment:center;
}

.button {
    -fx-background-color: #F8B33E;
    -fx-alignment:center;
}

.test {
    -fx-background-color:red;
}